.about {
  color: $grey-light;
  overflow: hidden;
  padding: 60px 0;
}

.about__image {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}
.about__text {
  padding-top: 20px;
}
