$button-height: 52px;

.btn {
  border-radius: 26px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  height: $button-height;
  padding: 0 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding-left: 35px;
    padding-right: 35px;
  }

  &:active {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.125);
  }
  &:focus {
    outline: none;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.125);
  }

  .btn-icon {
    display: inline-block;
    height: 11px;
    font-size: 14px;
    margin-right: 10px;
    text-transform: lowercase;

    svg {
      display: inline-block;
      height: 100%;
    }
  }
}

.btn-primary {
  color: $btn-primary-color;
  background: $btn-primary-background;
  transition: background-color 200ms ease-out;

  &:hover {
    color: $btn-secondary-color-hover;
    background: $btn-primary-background-hover;
  }
  &:focus,
  &:active {
    background: $btn-primary-background-focus;
  }
}

.btn-secondary {
  color: $btn-secondary-color;
  border: 2px solid $btn-secondary-border-color;
  background: transparent;
  transition: background-color 200ms ease-out;

  &:hover {
    color: $btn-secondary-color-hover;
    background: $btn-secondary-background-hover;
  }
  &:focus,
  &:active {
    border-color: $btn-secondary-border-color-focus;
  }
}

a.btn {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  line-height: $button-height;
}