.catalog {
  background: $grey-lightest;

  .grid {
    margin-bottom: 60px;
  }
}

.catalog__subtitle {
  color: $grey-light;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.catalog__actions {
  text-align: center;
}