.prefooter {
  background: $grey-medium;
  height: 60px;

  .arrow-up {
    background: $grey;
    cursor: pointer;
    float: right;
    height: 60px;
    width: 60px;
    position: relative;

    &::after {
      content: '';
      height: 14px;
      width: 14px;
      border: 3px solid $white;
      border-width: 3px 3px 0 0;
      transform: rotate(-45deg);
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -7px;
      transition: transform 200ms ease-out;
    }

    &:hover {
      &::after {
        transform: rotate(-45deg) scale(1.2);
      }
    }
  }
}

.footer {
  background: $grey;
  padding-top: 25px;
  padding-bottom: 35px;

  .flex {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.footer__logo {
  float: left;
  vertical-align: middle;
  margin-right: 20px;
}

.footer__copyright {
  color: $grey-lighter;
}
