.promo {
  background: url(../images/main-bg.jpg) no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding-top: 160px;
  padding-bottom: 30px;
  position: relative;
  flex-direction: column;

  @media (min-width: $tablet) {
    min-height: 730px;
    padding-top: 138px;
  }
}

.promo__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__logo {
  max-width: 90%;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
  }

  svg {
    max-width: 100%;
  }
}

.promo__text {
  font-size: 26px;
  line-height: 1.2;
  max-width: 100%;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 38px;
  }
}

.promo__actions {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet) {
    margin-top: 90px;
  }

  .btn {
    margin: 0 20px 20px;
    width: 80%;
    vertical-align: top;

    @media (min-width: 640px) {
      width: auto;
    }
  }
}

.promo__arrow-down {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  animation-name: floating-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  &::after {
    border: 2px solid $grey;
    border-width: 0 0 2px 2px;
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    transform: rotate(-45deg);
    transform-origin: right top;
    transition: transform 200ms ease-out;
  }
  &:hover {
    &::after {
      transform: rotate(-45deg) scale(1.2);
    }
  }
}

@keyframes floating-arrow {
  from {
    transform: translate(-50%, 0);
  }
  65% {
    transform: translate(-50%, 15px);
  }
  to {
    transform: translate(-50%, 0);
  }
}
