.category {
  background: $grey-lightest;
}

.category-header {
  background: url(../images/main-bg.jpg) no-repeat center / cover;
  height: 138px;
}

.products {
  background: $white;
}

.product {
  border-bottom: 4px solid $grey-lightest;
}