.terms__left {
  position: relative;

  &::after {
    display: block;
    content: '';
    background: $grey-lighter;
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
    
    @media (min-width: $tablet) {
      height: auto;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 1px;
      top: 35px;
      margin-bottom: 0;
    }
  }
}

.terms__text {
  color: $grey-light;
  font-size: 16px;
}