/* colors */
$black: #000;
$white: #fff;
$grey:  #3D4351;
$grey-dark: #262A36;
$grey-light: #778698;
$primary-color: #D12027;

/* menu */
$menu-background: $white;
$menu-background-mobile: $black;
$menu-items-color: $grey-dark;
$menu-items-color-mobile: $white;
$menu-toggle-color: $grey-dark;

/* buttons */
$btn-primary-color: $white;
$btn-primary-background: $primary-color;
$btn-primary-background-hover: darken($btn-primary-background, $amount: 20);
$btn-primary-background-focus: darken($btn-primary-background, $amount: 10);

$btn-secondary-color: $grey-dark;
$btn-secondary-border-color: $primary-color;
$btn-secondary-border-color-hover: darken($btn-secondary-border-color, $amount: 10);
$btn-secondary-border-color-focus: lighten($btn-secondary-border-color, $amount: 20);
$btn-secondary-background-hover: rgba(255,255,255, .2);

/* layout */
$tablet: 768px;
$side-padding: 30px;