<div id="products" class="catalog section">
  <div class="container">
    <h2 class="text-align-center">Продукты</h2>
    <p class="catalog__subtitle text-align-center">Ассортимент компании включает следующие товарные группы, как: слесарный, плотницкий, измерительный, режущий, монтажный инструмент.</p>
    <div class="grid">
      <% data.categories.forEach((item) => {%>
        <a href="<%= item.slug %>.html" class="grid__cell grid-cell">
          <div class="grid-cell__face">
            <div class="grid-cell__image">
              <img src="images/<%- item.catImage %>" alt="">
            </div>
          </div>
          <div class="grid-cell__back">
            <div class="grid-cell__icon">
              <span class="icon icon__plus"></span>
            </div>
            <div class="grid-cell__description">
              <%= item.catName %>
            </div>
          </div>
        </a>
      <%}) %>
    </div>
    <div class="catalog__actions">
      <a href="uploads/catalog.pptx" class="btn btn-primary" download>
        <span class="btn-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 11">
            <path fill="#fff" d="M11.15 9.65a.65.65 0 0 1-.65.64H.64A.64.64 0 0 1 0 9.65V7.5a.64.64 0 0 1 .64-.64h3.12l.9.91a1.31 1.31 0 0 0 .91.38 1.28 1.28 0 0 0 .91-.38l.92-.91h3.1a.65.65 0 0 1 .65.64zM8.88 4.16l-3 3a.39.39 0 0 1-.3.13.41.41 0 0 1-.3-.13l-3-3a.41.41 0 0 1-.09-.47.43.43 0 0 1 .39-.26h1.71v-3A.43.43 0 0 1 4.72 0h1.71a.43.43 0 0 1 .43.43v3h1.71a.44.44 0 0 1 .4.26.43.43 0 0 1-.09.47zm-.73 4.41a.43.43 0 0 0-.43.43.43.43 0 1 0 .85 0 .43.43 0 0 0-.42-.43zm1.71 0a.44.44 0 0 0-.43.43.43.43 0 0 0 .86 0 .44.44 0 0 0-.43-.43z" />
          </svg>&nbsp;&nbsp;pdf</span>
        <span>Скачайте каталог</span>
      </a>
    </div>
  </div>
</div>