<div class="products">
  <% data.products.forEach((item, index) => { %>
    <div class="product section">
      <div class="container">
        <div class="flex flex-align-center<% if(index % 2 === 0) {%> flex-reverse<%}%>">
          <div class="flex-col flex-1-1">
            <div class="product__image">
              <img class="image" src="images/products/<%= item.image %>" alt="">
            </div>
          </div>
          <div class="flex-col flex-1-1">
            <h2>
              <%= item.name %>
            </h2>
            <div class="product__description">
              <% item.description.forEach((line) => { %>
                <p><%= line %></p>
              <% }) %>
            </div>
            <div class="product__sku">
              <b>Артикул:</b> <%= item.sku %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</div>