@import './includes/_reset.scss';
@import './includes/_header.scss';

$font-stack: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
$containerWidth: 1024px;

/* Layout */
body {
  font-family: $font-stack;
  #logo {
    width: 10rem;
  }

  * {
    box-sizing: border-box;
  }
}

.header {
  position: sticky;
  top: -10px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $containerWidth;
}

/* Components */

// grid
.grid {
  display: flex;
}
.grid__cell {
  flex: 1;
  max-width: 33.33%;
  margin: 1px;
}
.grid-cell {
  position: relative;
}
.grid-cell__face {
  height: 0;
  padding-bottom: 100%;
}
.grid-cell__back {
  background: rgba(255,255,255,80);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: opacity 0.2s ease-out;
}
.grid-cell:hover {
  .grid-cell__back {
    opacity: 1;
  }
}
.grid-cell__image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    display: block;
    max-width: 100%;
  }
}
.grid-cell__icon {
  background: #f00;
  height: 80px;
  width: 80px;
}
.grid-cell__description {
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
  height: calc(50% - 40px);
}

// icons
.icon {
  display: block;
}
