@import './includes/_reset.scss';
@import './includes/_variables.scss';
@import './includes/_typo.scss';
@import './includes/_common.scss';
@import './includes/_buttons.scss';
@import './includes/_header.scss';
@import './includes/_promo.scss';
@import './includes/_about.scss';
@import './includes/_terms.scss';
@import './includes/_catalog.scss';
@import './includes/_grid.scss';
@import './includes/_contacts.scss';
@import './includes/_footer.scss';

$font-stack: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
$containerWidth: 1024px;

/* Layout */
body {
  font-family: $font-stack;
  #logo {
    width: 10rem;
  }

  * {
    box-sizing: border-box;
  }
}

.header {
  position: sticky;
  top: -10px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $containerWidth;
  padding-right: $side-padding-mobile;
  padding-left: $side-padding-mobile;

  @media (min-width: $tablet) {
    padding-left: $side-padding;
    padding-right: $side-padding;
  }
}

/* Components */

// icons
.icon {
  display: block;
}
